In [ ]:
!pip install -q mysql-connector-python

     |████████████████████████████████| 14.8MB 345kB/s

In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/d1/53/4cf90d2fe81b9cdb55dc180951bcec44ea8685665f1bdb1412501dc362dd/mysql_connector_python-8.0.20-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 250kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from mysql-connector-python) (3.10.0)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (47.3.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.20

In [3]:
import mysql.connector

In [72]:
db = mysql.connector.connect(host='cpanel.insaid.co',
                             database='Capstone1',
                             user='student',
                             password='student')

In [39]:
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f1f2490aba8>

In [73]:
cur=""
cur = db.cursor()

In [48]:
cur.execute("SHOW TABLES")

In [49]:
tables = cur.fetchall()

In [50]:
print(tables)

[('events_data',), ('gender_age_train',), ('phone_brand_device_model',)]

In [51]:
query = """ SELECT * FROM gender_age_train"""

In [52]:
cur.execute(query)

In [53]:
x=cur.fetchall()

In [ ]:
print(x)

In [ ]:
NotebookApp.iopub_data_rate_limit=1000000.0 
NotebookApp.rate_limit_window=3.0

In [60]:
import pandas as pd

In [66]:
df1 = pd.DataFrame(x, columns=['device_id','gender','age','group'])

In [77]:
df1.shape

(74645, 4)

In [69]:
query = """ SELECT * FROM phone_brand_device_model"""

In [74]:
cur.execute(query)

In [75]:
x=cur.fetchall()

In [81]:
df2 = pd.DataFrame(x, columns=['device_id','brand','model'])

In [82]:
df2.shape

(87726, 3)

In [83]:
df2

                 device_id brand    model
0      1877775838486905855  vivo      Y13
1     -3766087376657242966    小米     V183
2     -6238937574958215831  OPPO      R7s
3      8973197758510677470    三星    A368t
4     -2015528097870762664    小米  红米Note2
...                    ...   ...      ...
87721 -4961458925928574032    华为   荣耀畅玩4X
87722 -8819817317449262375    华为      荣耀6
87723 -3358291377416935026    华为    荣耀畅玩4
87724  3282788959750981633    小米     MI 2
87725  2491639413207286271    酷比       M1

[87726 rows x 3 columns]

In [98]:
db_events = pd.read_csv('drive/My Drive/Capstone_Group_1006_Year_2020/events_data.csv')
#db_events = pd.read_csv('events_data.csv')
#/content/drive/My Drive/Capstone_Group_1006_Year_2020/events_data.csv

In [91]:
db_events.shape

(22781, 7)

In [95]:
db_events.head()

   event_id     device_id            timestamp  ...   latitude      city       state
0   2765368  2.973348e+18  2016-05-07 22:52:05  ...  28.730140     Delhi       Delhi
1   2955066  4.734221e+18  2016-05-01 20:44:16  ...  22.660325  Calcutta  WestBengal
2    605968 -3.264500e+18  2016-05-02 14:23:04  ...  28.757906     Delhi       Delhi
3    448114  5.731369e+18  2016-05-03 13:21:16  ...  13.153332   Chennai   TamilNadu
4    665740  3.388880e+17  2016-05-06 03:51:05  ...  23.842609    Bokaro   Jharkhand

[5 rows x 7 columns]